--
-- PostgreSQL database dump
--

\restrict Koy0HB9Ta04vi08ozMyEDeydEnW072SL0vR5et9of1FKkIMVctfhVIhD95HhItP

-- Dumped from database version 17.10 (Debian 17.10-1.pgdg13+1)
-- Dumped by pg_dump version 17.10 (Debian 17.10-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: lifecycle_statuses; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.lifecycle_statuses (id, code, name, description, display_order, version_number, created_at, updated_at, deleted_at) FROM stdin;
1	ACTIVE	Active	Reference row is in service and eligible for use.	1	1	2026-08-10 11:12:51.728364+00	2026-08-10 11:12:51.728364+00	\N
2	DEPRECATED	Deprecated	No longer recommended; kept for history and referential integrity.	2	1	2026-08-10 11:12:51.728364+00	2026-08-10 11:12:51.728364+00	\N
3	ARCHIVED	Archived	Retired from use; preserved for audit and history.	3	1	2026-08-10 11:12:51.728364+00	2026-08-10 11:12:51.728364+00	\N
\.


--
-- Data for Name: barcode_types; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: evidence_types; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: languages; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.languages (id, code, name, native_name, is_rtl, status_id, version_number, created_at, updated_at, deleted_at) FROM stdin;
c43b9ba9-e823-42b3-b031-2a9ec3ece457	en	English	English	f	1	1	2026-08-11 00:28:03.944019+00	2026-08-11 00:28:03.944019+00	\N
4b80bc8d-396c-406c-b479-2c4274fed94a	ar	Arabic	╪د┘╪╣╪▒╪ذ┘è╪ر	f	1	1	2026-08-11 00:28:03.944019+00	2026-08-11 00:28:03.944019+00	\N
\.


--
-- Data for Name: relationship_types; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: source_types; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: units; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: verification_statuses; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Name: lifecycle_statuses_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.lifecycle_statuses_id_seq', 3, true);


--
-- PostgreSQL database dump complete
--

\unrestrict Koy0HB9Ta04vi08ozMyEDeydEnW072SL0vR5et9of1FKkIMVctfhVIhD95HhItP

